<div id="login">
  <h2><%= render_or_call_method_or_proc_on(self, active_admin_application.site_title) %> <%= title t('active_admin.devise.login.title') %></h2>

  <fieldset class='inputs'>
    <%= render partial: "active_admin/devise/shared/links" %>
  </fieldset>
</div>
